.select-box {
    display: flex;
    flex-direction: column;

    width: 400px;
    
    margin: 17px;
  }

.selected {
    height: 27px;

    padding: 3px;
    
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    
    color: #f5f6fa;
    position: relative;
  
    order: 0;

}


