
.selecteBy {
    height: 27px;

    margin: 9px;
    padding: 3px;

    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
  
    order: 0;
}
